.channel-card-container {
  position: relative;
  background-color: $red;
  margin-bottom: 1em;
  background-color: $lightblue ;
  border: .5em solid $black;
  border-radius: 1em;

  .channel-card-container-heading{
    text-align: center;
    // padding-bottom: 1em;
    border-bottom: .2em dashed;
  }

  .channel-card-container-body {
    position: relative;
    .channel-logo {
      position: absolute;
      border-radius: 0 0 0 .5em;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 30%;
    }
    .text-container {
      display: float;
      padding-left: 7em;
      text-align: center;
      .channel-name{
        padding: .3em 0 .3em 0;
        margin: 0;
      }
      .channel-game{
        word-wrap: break-word;

      }
      .channel-followers{

      }
    }
  }

}