.featured-card-container {
  position: relative;
  background-color: $red;
  margin-bottom: 1em;
  background-color: $lightblue ;
  border: .4em solid $black;
  border-radius: 1em;

  .featured-card-container-heading{
    text-align: center;
    border-bottom: .2em dashed;
  }

  .featured-card-container-body {
    position: relative;
    .featured-logo {
      position: absolute;
      background-color: $white;
      border-radius: .5em 0 0 .5em;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 25%;
    }
    .featured-text-container {
      display: float;
      padding-left: 7em;
      text-align: center;
      .featured-name{
        padding: .3em 0 .3em 0;
        margin: 0;
        text-align: center;
      }
      .featured-game{
        word-wrap: break-word;

      }
      .featured-button-delete {
        border-radius: 0em .3em 0em 0em;
        position: absolute;
        right: 0;
        top: 0;
      }
      .featured-button-watch {
        border-radius: 0em 0em .5em 0em;
      }
    }
  }

}