.channel-list-container {
  border: 1em solid yellow;
  border-radius: 1em; }
  .channel-list-container .channel-row {
    padding-bottom: .5em; }

.channel-card-container {
  position: relative;
  background-color: red;
  margin-bottom: 1em;
  background-color: rgba(188, 228, 229, 0.7);
  border: 0.5em solid black;
  border-radius: 1em; }
  .channel-card-container .channel-card-container-heading {
    text-align: center;
    border-bottom: .2em dashed; }
  .channel-card-container .channel-card-container-body .channel-logo {
    position: absolute;
    border-radius: 0 0 0 .5em;
    left: 0;
    bottom: 0;
    height: 80%;
    width: 25%; }
  .channel-card-container .channel-card-container-body .text-container {
    padding-left: 5em;
    text-align: center; }
