.channel-list-container {
  border-radius: 1em;
  padding-top: 15vh; }
  .channel-list-container .channel-row {
    padding-bottom: .5em; }

.channel-card-container {
  position: relative;
  background-color: red;
  margin-bottom: 1em;
  background-color: rgba(188, 228, 229, 0.7);
  border: 0.4em solid black;
  border-radius: 1em; }
  .channel-card-container .channel-card-container-heading {
    text-align: center;
    border-bottom: .2em dashed; }
  .channel-card-container .channel-card-container-body {
    position: relative; }
    .channel-card-container .channel-card-container-body .channel-logo {
      position: absolute;
      border-radius: 0 0 0 .5em;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 25%; }
    .channel-card-container .channel-card-container-body .text-container {
      display: float;
      padding-left: 7em;
      text-align: center; }
      .channel-card-container .channel-card-container-body .text-container .channel-name {
        padding: .3em 0 .3em 0;
        margin: 0;
        text-align: center; }
      .channel-card-container .channel-card-container-body .text-container .channel-game {
        word-wrap: break-word; }
      .channel-card-container .channel-card-container-body .text-container .button-delete {
        position: absolute;
        background-color: red; }

.featured-list-container {
  border-radius: 1em;
  padding-top: 15vh; }
  .featured-list-container .featured-row {
    padding-bottom: .5em; }

.featured-card-container {
  position: relative;
  background-color: red;
  margin-bottom: 1em;
  background-color: rgba(188, 228, 229, 0.7);
  border: 0.4em solid black;
  border-radius: 1em; }
  .featured-card-container .featured-card-container-heading {
    text-align: center;
    border-bottom: .2em dashed; }
  .featured-card-container .featured-card-container-body {
    position: relative; }
    .featured-card-container .featured-card-container-body .featured-logo {
      position: absolute;
      background-color: white;
      border-radius: .5em 0 0 .5em;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 25%; }
    .featured-card-container .featured-card-container-body .featured-text-container {
      display: float;
      padding-left: 7em;
      text-align: center; }
      .featured-card-container .featured-card-container-body .featured-text-container .featured-name {
        padding: .3em 0 .3em 0;
        margin: 0;
        text-align: center; }
      .featured-card-container .featured-card-container-body .featured-text-container .featured-game {
        word-wrap: break-word; }
      .featured-card-container .featured-card-container-body .featured-text-container .featured-button-delete {
        border-radius: 0em .3em 0em 0em;
        position: absolute;
        right: 0;
        top: 0; }
      .featured-card-container .featured-card-container-body .featured-text-container .featured-button-watch {
        border-radius: 0em 0em .5em 0em; }

#root {
  background-color: rgba(255, 241, 204, 0.3); }
